@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
@layer utilities {
  .btn-danger {
    @apply bg-red-600 px-14 py-3 text-white font-semibold rounded-md hover:hover-cards shadow-2xl;
  }
  .btn-classic {
    @apply bg-white px-4 py-2 rounded-full lg:top-10 lg:-left-5  -top-5 left-5 hover:bg-red-400;
  }
}
